.App {
  text-align: center;
}

div {
  h1 {
    font-size: 40px;
  }
  form {
    display: grid;
    width: 400px;
    margin: auto;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    label {
      text-align: left;
      margin-bottom: 10px;
      font-size: 20px;
    }
    input.equation, input.result {
      height: 20px;
      font-size: 18px;
    }
    input.submit-btn {
      grid-column: 1 / 3;
      width: 100px;
      font-size: 18px;
      margin: auto;
    }
  }
}
